{% INCLUDE 'overall_header.html' %}

{% INCLUDECSS 'assets/css/acp_downloadsystem.css' %}

<a name="maincontent"></a>

<h1>{{ lang('ACP_DOWNLOAD_SYSTEM') }} - {{ lang('ACP_MANAGE_DOWNLOADS') }}</h1>

<p>{{ lang('ACP_MANAGE_DOWNLOADS_EXPLAIN') }}</p>

<form id="dm_new" method="post" action="{{ S_ACTION }}">
	<fieldset class="tabulated">
		<input type="hidden" name="action" value="new_download" />
		<input class="button2" name="add_download" type="submit" value="{{ lang('ACP_NEW_DOWNLOAD') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

<form id="dm_search" method="post" action="{{ U_ACTION_SEARCH }}">
	<fieldset class="tabulated">
		<input type="text" name="q" value="{{ SEARCH_QUERY }}" placeholder="{{ lang('SEARCH') }}" />
		<input class="button2" type="submit" value="{{ lang('SEARCH') }}" />
		<input class="button2" type="button" value="{{ lang('RESET') }}" onclick="window.location='{{ U_ACTION }}';" />
	</fieldset>
</form>

{% if loops.pagination|length or TOTAL_DOWNLOADS %}
	<div class="pagination">
		{{ TOTAL_DOWNLOADS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
{% endif %}

<div class="clear"></div>
<div class="eds-acp-list">
	<div class="eds-acp-list-header">
		<span class="eds-acp-title">{{ lang('ACP_NEW_TITLE') }}</span>
		<span class="eds-acp-count">{{ lang('ACP_DOWNLOADS') }}</span>
		{% if S_DM_EDS_ALLOW_DL_IMG %}
		<span class="eds-acp-image">{{ lang('ACP_NEW_IMAGE_DL') }}</span>
		{% endif %}
		<span class="eds-acp-version">{{ lang('ACP_NEW_VERSION') }}</span>
		<span class="eds-acp-cat">{{ lang('ACP_CAT') }}</span>
		<span class="eds-acp-desc">{{ lang('ACP_NEW_DESC') }}</span>
		<span class="eds-acp-actions">{{ lang('ACTION') }}</span>
	</div>
	{% for downloads in loops.downloads %}
	<div class="eds-acp-list-item {% if downloads.S_ROW_COUNT is even %}row1{% else %}row2{% endif %}">
		<span class="eds-acp-title">{{ downloads.TITLE }}</span>
		<span class="eds-acp-count"><strong>{{ downloads.DL_CLICKS }}</strong></span>
		{% if S_DM_EDS_ALLOW_DL_IMG %}
		<span class="eds-acp-image"><img src="{{ downloads.DL_IMAGE }}" width="65" height="65" alt="{{ downloads.DL_IMAGE }}" title="{{ downloads.TITLE }}" /></span>
		{% endif %}
		<span class="eds-acp-version">{{ downloads.VERSION }}</span>
		<span class="eds-acp-cat">{{ downloads.CATNAME }}</span>
		<span class="eds-acp-desc">{{ downloads.DESC }}</span>
		<span class="eds-acp-actions">
			<a href="{{ downloads.U_COPY }}">{{ downloads.ICON_COPY }}</a>
			<a href="{{ downloads.U_EDIT }}">{{ ICON_EDIT }}</a>
			<a href="{{ downloads.U_DEL }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
		</span>
	</div>
	{% else %}
	<div class="eds-acp-no-downloads">{{ lang('ACP_NO_DOWNLOADS') }}</div>
	{% endfor %}
</div>

{% if loops.pagination|length or TOTAL_DOWNLOADS %}
<div class="pagination">
	{{ TOTAL_DOWNLOADS }}
	{% if loops.pagination|length %}
		{% INCLUDE 'pagination.html' %}
	{% else %}
		&bull; {{ PAGE_NUMBER }}
	{% endif %}
</div>
{% endif %}

<form action="{{ S_DOWNLOAD_ACTION }}" method="post">
	<fieldset class="display-options">
		<span class="gensmall">{{ lang('SORT_BY') }}</span> {{ S_SELECT_SORT_KEY }} {{ S_SELECT_SORT_DIR }}&nbsp;
		<input class="button2" type="submit" name="sort" value="{{ lang('GO') }}" />
	</fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}