.file-list {
    margin-top: 20px;
}

.file-list-header, .file-list-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.file-list-header {
    background-color: #f4f4f4;
    font-weight: bold;
}

.file-list-item {
    align-items: center;
}

.file-title, .file-version, .file-image, .file-desc, .file-count, .file-size, .file-dl {
    flex: 1 1 100%;
    text-align: center;
}

.file-title {
    flex: 1 1 100%;
}

.file-image {
    flex: 1 1 100%;
}

.file-dl {
    text-align: right;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.file-no-files {
    padding: 20px;
    text-align: center;
    color: #888;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

button.button2 {
    margin-left: 5px;
}

.file-list-item.row1 {
    background-color: #f9f9f9;
}

.file-list-item.row2 {
    background-color: #fff;
}

.forumtitlex {
    padding-top: 12px;
}

.eds-ext {
    display: block;
    font-size: 10px;
    margin-top: 15px;
    text-align: center;
}

.categories-list {
    margin-top: 20px;
}

.categories-list-header, .categories-list-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.categories-list-header {
    background-color: #f4f4f4;
    font-weight: bold;
}

.categories-list-item {
    align-items: center;
}

.categories-icon, .categories-image, .categories-name, .categories-desc, .categories-count, .categories-last {
    flex: 1 1 100%;
    text-align: center;
}

.categories-icon, .categories-name {
    flex: 1 1 100%;
}

.categories-image {
    flex: 1 1 100%;
}

.categories-last {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categories-no-cats {
    padding: 20px;
    text-align: center;
    color: #888;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

button.button2 {
    margin-left: 5px;
}

.categories-list-item.row1 {
    background-color: #f9f9f9;
}

.categories-list-item.row2 {
    background-color: #fff;
}

@media (min-width: 768px) {
    .file-title, .file-version, .file-image, .file-desc, .file-count, .file-size, .file-dl,
    .categories-name, .categories-desc, .categories-count, .categories-last {
        flex: 1;
    }

    .file-title {
        flex: 2;
    }

    .categories-icon, .categories-name {
        flex: 2;
    }

    .categories-image {
        flex: 1;
    }
}

@media (max-width: 767px) {
    .file-version, .file-image, .file-count, .file-size, .categories-image, .categories-count {
        display: none;
    }
}