{% INCLUDE 'overall_header.html' %}

<h2>{{ lang('EDS_TITLE') }}</h2>

<p>{{ lang('EDS_TITLE_EXPLAIN') }}</p>

<div class="action-bar bar-top">
	{% if loops.pagination|length or EDS_CATEGORIES %}
	<div class="pagination">
		 {{ EDS_CATEGORIES }}{% if EDS_SUB_CAT_SHOW %} {{ EDS_SUB_CATEGORIES }}{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>

{% if S_NO_CAT %}
	<div class="hidden" id="alertnocat"></div>
	<a href="{{ U_BACK }}">{{ lang('EDS_BACK_INDEX') }}</a>
{% else %}
<div class="categories-list">
	<div class="categories-list-header">
		<span class="categories-icon"></span>
		{% if S_DM_EDS_ALLOW_CAT_IMG %}
		<span class="categories-image">{{ lang('EDS_CAT_IMAGE') }}</span>
		{% endif %}
		<span class="categories-name">{{ lang('EDS_CATS_NAME') }}</span>
		<span class="categories-desc">{{ lang('EDS_CAT_DESC') }}</span>
		<span class="categories-count">{{ lang('EDS_NUMBER_DOWNLOADS') }}</span>
		<span class="categories-last">{{ lang('EDS_LAST_FILE') }}</span>
	</div>

	{% for catrow in loops.catrow %}
	<div class="categories-list-item {% if catrow.S_ROW_COUNT is even %}row1{% else %}row2{% endif %}">
		<span class="categories-icon">
			<a href="{{ catrow.U_EDS_CAT }}" data-ajax="forumtitlex" class="forumtitlex">
				<span class="fa-stack fa-2x"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-download fa-stack-1x"></i></span>
			</a>
		</span>
		{% if S_DM_EDS_ALLOW_CAT_IMG %}
		<span class="categories-image">
			<img src="{{ catrow.IMAGE }}" width="30" height="30" alt="{{ catrow.CAT_NAME }}" title="{{ catrow.CAT_NAME }}" />
		</span>
		{% endif %}
		<span class="categories-name">
			<a href="{{ catrow.U_EDS_CAT }}" data-ajax="forumtitlex" class="forumtitlex">{{ catrow.CAT_NAME }}</a>
			<br>
			{{ catrow.SUBCATS }}
		</span>
		<span class="categories-desc">{{ catrow.CAT_DESC }}</span>
		<span class="categories-count">{{ catrow.NUMBER_DOWNLOADS }}</span>
		<span class="categories-last">{{ catrow.LAST_DOWNLOAD }}</span>
	</div>
	{% endfor %}
</div>
{% endif %}

<div class="action-bar bar-bottom">
	{% if loops.pagination|length or EDS_CATEGORIES %}
	<div class="pagination">
		 {{ EDS_CATEGORIES }}{% if EDS_SUB_CAT_SHOW %} {{ EDS_SUB_CATEGORIES }}{% endif %}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>

{% INCLUDE 'overall_footer.html' %}