{% INCLUDE 'overall_header.html' %}

{% if S_NO_FILES %}
<br><br>
<div class="hidden" id="alertnofile"></div>
	&nbsp;<b>{{ lang('EDS_NO_FILES') }}</b>
<br><br>
{% else %}
<br>
<div class="action-bar bar-top">
	{% if loops.pagination|length or TOTAL_DOWNLOADS %}
	<div class="pagination">
		{{ TOTAL_DOWNLOADS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>

<div class="file-list">
	<div class="file-list-header">
		<span class="file-title">{{ lang('EDS_FILE_TITLE') }}</span>
		<span class="file-version">{{ lang('EDS_FILE_VERSION') }}</span>
		{% if S_DM_EDS_ALLOW_DL_IMG %}
		<span class="file-image">{{ lang('EDS_DL_IMAGE') }}</span>
		{% endif %}
		<span class="file-desc">{{ lang('EDS_FILE_DESC') }}</span>
		<span class="file-count">{{ lang('EDS_FILE_CLICKS') }}</span>
		<span class="file-size">{{ lang('EDS_FILESIZE') }}</span>
		<span class="file-dl">{{ lang('EDS_DOWNLOAD') }}</span>
	</div>

	{% for catrow in loops.catrow %}
	<div class="file-list-item {% if catrow.S_ROW_COUNT is even %}row1{% else %}row2{% endif %}">
		<span class="file-title"><b>{{ catrow.DL_TITLE }}</b></span>
		<span class="file-version">{{ catrow.DL_VERSION }}</span>
		{% if S_DM_EDS_ALLOW_DL_IMG %}
		<span class="file-image">
			<img src="{{ catrow.DL_IMAGE }}" width="45" height="45" alt="{{ catrow.DL_IMAGE }}" title="{{ catrow.DL_TITLE }}" />
		</span>
		{% endif %}
		<span class="file-desc">{{ catrow.DL_DESC }}
			<hr />
			<span class="small"><i>{{ lang('EDS_UPLOADED_ON') ~ lang('COLON') }} {{ catrow.DL_UPLOAD_TIME }}<br>
			{{ lang('EDS_LAST_CHANGED_ON') ~ lang('COLON') }} {{ catrow.DL_LAST_CHANGED }}</i></span>
		</span>
		<span class="file-count"><strong>{{ catrow.DL_CLICKS }}</strong></span>
		<span class="file-size">{{ catrow.DL_FILESIZE }}</span>
		<span class="file-dl">{{ catrow.U_DOWNLOAD }}</span>
	</div>
	{% endfor %}
</div>

<div class="action-bar bar-bottom">
	{% if loops.pagination|length or TOTAL_DOWNLOADS %}
	<div class="pagination">
		{{ TOTAL_DOWNLOADS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
