{% INCLUDE 'overall_header.html' %}

{% if S_NO_FILES %}
<br><br>
<div class="hidden" id="alertnofile"></div>
	&nbsp;<b>{{ lang('EDS_NO_FILES') }}</b>
<br><br>
{% else %}
<br>
<div class="action-bar bar-top">
	{% if loops.pagination|length or TOTAL_DOWNLOADS %}
	<div class="pagination">
		{{ TOTAL_DOWNLOADS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>
{% for catrow in loops.catrow %}
	{% if catrow.S_FIRST_ROW %}
		<div class="forabg forumbg-table">
			<div class="inner">
				<table class="table1">
					<thead>
						<tr>
							<th class="eds-title" style="text-align:left;">{{ lang('EDS_FILE_TITLE') }}</th>
							<th class="eds-version">{{ lang('EDS_FILE_VERSION') }}</th>
							{% if S_DM_EDS_ALLOW_DL_IMG %}
							<th class="eds-image" style="text-align:center;">{{ lang('EDS_DL_IMAGE') }}</th>
							{% endif %}
							<th class="eds-desc">{{ lang('EDS_FILE_DESC') }}</th>
							<th class="eds-count">{{ lang('EDS_FILE_CLICKS') }}</th>
							<th class="eds-filesize">{{ lang('EDS_FILESIZE') }}</th>
							<th class="eds-dl">{{ lang('EDS_DOWNLOAD') }}</th>
						</tr>
					</thead>
					<tbody>
						{% endif %}
						<tr class="{% if catrow.S_ROW_COUNT is even %} bg1{% else %}bg2{% endif %}">
							<td class="eds-title">&nbsp;<b>{{ catrow.DL_TITLE }}</b></td>
							<td class="eds-version" style="text-align:center;">{{ catrow.DL_VERSION }}</td>
							{% if S_DM_EDS_ALLOW_DL_IMG %}
							<td class="eds-image" style="text-align:center;">
								<img src="{{ catrow.DL_IMAGE }}" width="45" height="45" alt="{{ catrow.DL_IMAGE }}" title="{{ catrow.DL_TITLE }}" />
							</td>
							{% endif %}
							<td class="eds-desc" style="text-align:center;">{{ catrow.DL_DESC }}
							<hr />
							<span class="small"><i>{{ lang('EDS_UPLOADED_ON') ~ lang('COLON') }} {{ catrow.DL_UPLOAD_TIME }}<br>
							{{ lang('EDS_LAST_CHANGED_ON') ~ lang('COLON') }} {{ catrow.DL_LAST_CHANGED }}</i></span></td>
							<td class="eds-count" style="text-align:center;"><strong>{{ catrow.DL_CLICKS }}</strong></td>
							<td class="eds-filesize" style="text-align:center;">{{ catrow.DL_FILESIZE }}</td>
							<td class="eds-dl" style="text-align:center;" >{{ catrow.U_DOWNLOAD }}</td>
						</tr>
						{% if catrow.S_LAST_ROW %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}
{% endfor %}

<div class="action-bar bar-bottom">
	{% if loops.pagination|length or TOTAL_DOWNLOADS %}
	<div class="pagination">
		{{ TOTAL_DOWNLOADS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
